In [46]:
import numpy as np
import pandas as pd

In [47]:
df = pd.read_csv("goodreads_top100_from1980to2023_final.csv")
df

,Unnamed: 0,isbn,title,series_title,series_release_number,authors,publisher,language,description,num_pages,format,genres,publication_date,rating_score,num_ratings,num_reviews,current_readers,want_to_read,price,url
0,0,9780689830594,Summer Story,Brambly Hedge,2,Jill Barklem,Atheneum,English,It was such a hot summer. The sky was deep blu...,32,Hardcover,"['Picture Books', 'Childrens', 'Fiction', 'Ani...","January 1, 1980",4.45,1017.0,74.0,7.0,512.0,3.49,https://www.goodreads.com/book/show/421572.Sum...
1,1,9780375704970,The Lake of Darkness,NaN,NaN,Ruth Rendell,Vintage Crime/Black Lizard,English,Martin Urban is a quiet bachelor with a comfor...,210,Paperback,"['Mystery', 'Fiction', 'Crime', 'Thriller', 'B...","January 1, 1980",3.76,1388.0,114.0,77.0,623.0,4.99,https://www.goodreads.com/book/show/83394.The_...
2,2,9780345446671,Beyond the Blue Event Horizon,Heechee Saga,2,Frederik Pohl,Ballantine Books,English,"In Book Two of the Heechee Saga, Robinette Bro...",336,Paperback,"['Science Fiction', 'Fiction', 'Space Opera', ...","January 1, 1980",3.95,13307.0,339.0,181.0,3961.0,11.99,https://www.goodreads.com/book/show/373399.Bey...
3,3,9780446403016,St. Peter's Fair,Chronicles of Brother Cadfael,4,Ellis Peters,Mysterious Press,English,A pause in the civil war offers Shrewsbury's t...,217,Mass Market Paperback,"['Mystery', 'Historical Fiction', 'Fiction', '...","May 1, 1981",4.12,10493.0,593.0,1298.0,2502.0,0.00,https://www.goodreads.com/book/show/751755.St_...
4,4,9780425198773,Twice Shy,NaN,NaN,Dick Francis,G.P. Putnam's Sons,English,A computerized horse-betting system falls into...,304,Mass Market Paperback,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S...","January 1, 1981",3.92,4188.0,174.0,162.0,642.0,8.99,https://www.goodreads.com/book/show/103250.Twi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,4395,9781451648218,Murder Your Employer: The McMasters Guide to H...,NaN,NaN,Rupert Holmes,Avid Reader Press / Simon & Schuster,English,A devilish thriller with a killer concept: The...,389,Hardcover,"['Mystery', 'Fiction', 'Thriller', 'Mystery Th...","February 21, 2023",3.89,20992.0,3479.0,4033.0,84900.0,12.99,https://www.goodreads.com/book/show/61272658-m...
4396,4396,9781250826978,System Collapse,The Murderbot Diaries,7,Martha Wells,Tor Publishing Group/Tordotcom,English,Everyone's favorite lethal SecUnit is back.\nF...,245,Hardcover,"['Science Fiction', 'Fiction', 'Audiobook', 'A...","November 13, 2023",4.24,26566.0,3479.0,3609.0,36600.0,11.99,https://www.goodreads.com/book/show/65211701-s...
4397,4397,9781496737298,"Georgie, All Along",NaN,NaN,Kate Clayborn,Kensington,English,A wise and witty new novel that echoes with ti...,340,Paperback,"['Romance', 'Fiction', 'Contemporary', 'Contem...","January 24, 2023",3.82,48031.0,6590.0,3180.0,76300.0,0.00,https://www.goodreads.com/book/show/60604190-g...
4398,4398,9780525619994,Sword Catcher,Sword Catcher,1,Cassandra Clare,Del Rey Books,English,"In the vibrant city-state of Castellane, the r...",624,Hardcover,"['Fantasy', 'Romance', 'Adult', 'Young Adult',...","October 10, 2023",3.84,14991.0,3523.0,4485.0,149000.0,14.99,https://www.goodreads.com/book/show/36679274-s...
4399,4399,9780593239919,"Poverty, by America",NaN,NaN,Matthew Desmond,Crown,English,"The Pulitzer Prize–winning, bestselling author...",284,Hardcover,"['Nonfiction', 'Politics', 'Sociology', 'Histo...","March 21, 2023",4.30,28248.0,4007.0,6021.0,133000.0,13.99,https://www.goodreads.com/book/show/61358638-p...

In [48]:
df.isnull().sum()

Unnamed: 0                  0
isbn                      594
title                       0
series_title             2132
series_release_number    2144
authors                     0
publisher                 116
language                   26
description                 2
num_pages                  21
format                     35
genres                      0
publication_date            1
rating_score                0
num_ratings                 0
num_reviews                 0
current_readers           104
want_to_read               39
price                     233
url                         0
dtype: int64

In [49]:
df['language'].value_counts()

language
English               4337
French                  14
Spanish; Castilian      10
German                   7
Japanese                 2
Dutch; Flemish           2
Danish                   1
Portuguese               1
Name: count, dtype: int64

In [50]:
df = df[['title','authors','publisher','description','genres']]

In [51]:
df.dropna(inplace=True)

C:\Users\Devve\AppData\Local\Temp\ipykernel_13660\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4282 entries, 0 to 4399
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        4282 non-null   object
 1   authors      4282 non-null   object
 2   publisher    4282 non-null   object
 3   description  4282 non-null   object
 4   genres       4282 non-null   object
dtypes: object(5)
memory usage: 200.7+ KB

In [53]:
df.head()

,title,authors,publisher,description,genres
0,Summer Story,Jill Barklem,Atheneum,It was such a hot summer. The sky was deep blu...,"['Picture Books', 'Childrens', 'Fiction', 'Ani..."
1,The Lake of Darkness,Ruth Rendell,Vintage Crime/Black Lizard,Martin Urban is a quiet bachelor with a comfor...,"['Mystery', 'Fiction', 'Crime', 'Thriller', 'B..."
2,Beyond the Blue Event Horizon,Frederik Pohl,Ballantine Books,"In Book Two of the Heechee Saga, Robinette Bro...","['Science Fiction', 'Fiction', 'Space Opera', ..."
3,St. Peter's Fair,Ellis Peters,Mysterious Press,A pause in the civil war offers Shrewsbury's t...,"['Mystery', 'Historical Fiction', 'Fiction', '..."
4,Twice Shy,Dick Francis,G.P. Putnam's Sons,A computerized horse-betting system falls into...,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S..."

In [54]:
def cleanGenres(object):
    word_list = []
    word = []
    for i in object:
        if i == "[" or i == "]" or i == " ":
            continue
        if i ==",":
            word_list.append("".join(word))
            word = []
            continue
        word.append(i)
    return word_list

In [55]:
df.dtypes

title          object
authors        object
publisher      object
description    object
genres         object
dtype: object

In [56]:
df['genres'] = df['genres'].apply(cleanGenres)

C:\Users\Devve\AppData\Local\Temp\ipykernel_13660\459577602.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres'] = df['genres'].apply(cleanGenres)

In [57]:
def cleanWord(word):
    W = []
    for i in word:
        if i == " " or i == "-" or i == "'" or i == "," or i == ".":
            continue
        W.append(i)
    return "".join(W)

In [58]:
df['description'] = df['description'].apply(lambda x:[cleanWord(i) for i in x.split()])

C:\Users\Devve\AppData\Local\Temp\ipykernel_13660\2310698377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['description'] = df['description'].apply(lambda x:[cleanWord(i) for i in x.split()])

In [59]:
def cleanValues(value):
    word_list = []
    word = []
    for i in value:
        if i == "'" or i == "." or i == " ":
            continue
        if i == "/":
            word_list.append("".join(word))
            word = []
            continue
        word.append(i)
    word_list.append("".join(word))
    return word_list

In [60]:
df['publisher'] = df['publisher'].apply(cleanValues)

C:\Users\Devve\AppData\Local\Temp\ipykernel_13660\1189147787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['publisher'] = df['publisher'].apply(cleanValues)

In [61]:
df['authors'] = df['authors'].apply(cleanValues)

C:\Users\Devve\AppData\Local\Temp\ipykernel_13660\1343505194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['authors'] = df['authors'].apply(cleanValues)

In [62]:
df.head()

,title,authors,publisher,description,genres
0,Summer Story,[JillBarklem],[Atheneum],"[It, was, such, a, hot, summer, The, sky, was,...","['PictureBooks', 'Childrens', 'Fiction', 'Anim..."
1,The Lake of Darkness,[RuthRendell],"[VintageCrime, BlackLizard]","[Martin, Urban, is, a, quiet, bachelor, with, ...","['Mystery', 'Fiction', 'Crime', 'Thriller', 'B..."
2,Beyond the Blue Event Horizon,[FrederikPohl],[BallantineBooks],"[In, Book, Two, of, the, Heechee, Saga, Robine...","['ScienceFiction', 'Fiction', 'SpaceOpera', 'S..."
3,St. Peter's Fair,[EllisPeters],[MysteriousPress],"[A, pause, in, the, civil, war, offers, Shrews...","['Mystery', 'HistoricalFiction', 'Fiction', 'H..."
4,Twice Shy,[DickFrancis],[GPPutnamsSons],"[A, computerized, horsebetting, system, falls,...","['Mystery', 'Fiction', 'Thriller', 'Crime', 'S..."

In [63]:
df['tags'] = df['description'] + df['genres'] + df['publisher'] + df['authors']

C:\Users\Devve\AppData\Local\Temp\ipykernel_13660\3969208531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['description'] + df['genres'] + df['publisher'] + df['authors']

In [64]:
books = df[['title','tags']]
books.head()

,title,tags
0,Summer Story,"[It, was, such, a, hot, summer, The, sky, was,..."
1,The Lake of Darkness,"[Martin, Urban, is, a, quiet, bachelor, with, ..."
2,Beyond the Blue Event Horizon,"[In, Book, Two, of, the, Heechee, Saga, Robine..."
3,St. Peter's Fair,"[A, pause, in, the, civil, war, offers, Shrews..."
4,Twice Shy,"[A, computerized, horsebetting, system, falls,..."

In [65]:
from nltk.stem import SnowballStemmer

stemmer = SnowballStemmer("english")

In [66]:
def stemWord(word):
    return stemmer.stem(word.lower())

In [67]:
books.loc[:, 'tags'] = books['tags'].apply(lambda x: [stemWord(i) for i in x])

In [68]:
books['tags']

0       [it, was, such, a, hot, summer, the, sky, was,...
1       [martin, urban, is, a, quiet, bachelor, with, ...
2       [in, book, two, of, the, heeche, saga, robinet...
3       [a, paus, in, the, civil, war, offer, shrewsbu...
4       [a, computer, horsebet, system, fall, into, jo...
                              ...
4395    [a, devilish, thriller, with, a, killer, conce...
4396    [everyon, favorit, lethal, secunit, is, back, ...
4397    [a, wise, and, witti, new, novel, that, echo, ...
4398    [in, the, vibrant, cityst, of, castellan, the,...
4399    [the, pulitz, prize–win, bestsel, author, of, ...
Name: tags, Length: 4282, dtype: object

In [69]:
books['tags'] = books['tags'].apply(lambda x:" ".join(x))

C:\Users\Devve\AppData\Local\Temp\ipykernel_13660\421402556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books['tags'] = books['tags'].apply(lambda x:" ".join(x))

In [70]:
books['tags']

0       it was such a hot summer the sky was deep blue...
1       martin urban is a quiet bachelor with a comfor...
2       in book two of the heeche saga robinett broadh...
3       a paus in the civil war offer shrewsburi towns...
4       a computer horsebet system fall into jonathan ...
                              ...
4395    a devilish thriller with a killer concept: the...
4396    everyon favorit lethal secunit is back follow ...
4397    a wise and witti new novel that echo with time...
4398    in the vibrant cityst of castellan the richest...
4399    the pulitz prize–win bestsel author of evict r...
Name: tags, Length: 4282, dtype: object

In [71]:
books.reset_index(inplace=True,drop=True)

In [72]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words="english")

In [73]:
vectors = cv.fit_transform(books['tags']).toarray()

In [74]:
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(vectors)

In [75]:
books.head()

,title,tags
0,Summer Story,it was such a hot summer the sky was deep blue...
1,The Lake of Darkness,martin urban is a quiet bachelor with a comfor...
2,Beyond the Blue Event Horizon,in book two of the heeche saga robinett broadh...
3,St. Peter's Fair,a paus in the civil war offer shrewsburi towns...
4,Twice Shy,a computer horsebet system fall into jonathan ...

In [76]:
def stripWord(word):
    return word.strip()

In [77]:
books['title'] = books['title'].apply(stripWord)
books['title'][0]

C:\Users\Devve\AppData\Local\Temp\ipykernel_13660\2750095135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books['title'] = books['title'].apply(stripWord)

'Summer Story'

In [78]:
def recommend(bookName):
    index = books.index[books['title'] == bookName][0]
    book_indices = []
    for i,sim in sorted(enumerate(similarities[index]),reverse=True,key=lambda x:x[1])[1:6]:
        book_indices.append(i)
    book_list = []
    for i in book_indices:
        book_list.append(books['title'][i])
    return book_list

In [79]:
recommend("Summer Story")

['The Secret Staircase',
 'Angelina Ballerina',
 'Lord Brocktree',
 'The Kissing Hand',
 'A Crown of Swords']

In [81]:
books_dict = books.to_dict()

In [82]:
import pickle

with open("books.pkl","wb") as file:
    pickle.dump(books_dict,file)

with open("sm.pkl","wb") as file:
    pickle.dump(similarities,file)